.App {
   background-color: #121212;

}
.App h1 {
    margin-left: 50px;
    margin-bottom: 20px;
    font-family: "Tilt Warp", sans-serif;
    font-size: 128px;
    color: #E5E619;
    letter-spacing: -2px;
}
.savedDevices{
    border-bottom: solid 1px #E5E619;
    opacity: 89%;
}

.savedDevices Button{
    margin-right: 50px;
}
.savedDevices p{
    margin-left: 50px;
    margin-bottom: 0px;
    font-size: 40px;
    font-family: "Tilt Warp", sans-serif;
    color: #E5E619;
    text-transform: uppercase;
    letter-spacing: -2px;
}
.savedDevicesContainer{
    margin-left: 50px;
    margin-bottom: 20px;
}
.addButton{
    height: 40px;
/*color: #E5E619!important;
background-color:  #121212!important;
border: #E5E619 2px solid!important;
*/
}